In [1]:
import csv
import numpy as np
import pandas as pd

* cargo los datos

In [2]:
data = pd.read_csv("data_duolegal.csv")

In [3]:
#data.columns

In [4]:
df = data[data.columns[0:6]]

In [18]:
df2 = pd.read_csv("data_duolegal.csv")
df = df2[df2.columns[0:6]]

table = pd.pivot_table(df, index=['company_name'], columns=['claim_status'], values=['amount'],
aggfunc= [np.sum, lambda x: x.count()],fill_value= 0,margins = True, margins_name= 'Total count')

table.columns = [' '.join(col).strip() for col in table.columns.values]

new_df = table.rename(columns={'sum amount Open':'C.Open', 'sum amount Pending':'C.Pending', 'sum amount Refunded':'C.Refunded',
'sum amount Settled':'C.Settled','sum amount Total count':'Total Amount', '<lambda> amount Open':'Events Open',
'<lambda> amount Pending':'Event Pendings', '<lambda> amount Refunded':'Event Refunded',
'<lambda> amount Settled':'Event Settle', '<lambda> amount Total count':'Total Events'})

new_df['C.Open']= new_df['C.Open'] + new_df['C.Pending'] 
df = new_df.drop('C.Pending', 1)
tabla1 = new_df[['C.Open', 'C.Pending', 'C.Refunded', 'C.Settled']]

tabla1

                                   C.Open  C.Pending  C.Refunded  C.Settled
company_name
Direction (Home) Law LLP        -61535.04          0        0.00       0.00
Emerald Law Solicitors           -6300.00      -2100        0.00       0.00
Heselwood & Grant Solicitors    -36392.69          0        0.00       0.00
High Street Solicitors          -91587.21          0        0.00    1025.69
Just Costs Solicitors Limited   -81335.69          0       36.83  -28580.78
Matwala Vyas LLP                 -2163.60          0        0.00       0.00
Milestone Claims Limited        -45639.60          0        0.00       0.00
Reynards Legal Limited               0.00          0        0.00       0.00
Simpson Sisson and Brooke       -68523.63          0        4.96       0.00
Simpson Sisson and Brooke (JC)   -5244.00          0        0.00       0.00
Wisemann Law T/A BEE Legal      -21208.46          0        0.00       0.00
Total count                    -419929.92      -2100       41.79  -27555.09

In [25]:
df2 = pd.read_csv("data_duolegal.csv")
df = df2[df2.columns[0:6]]

table = pd.pivot_table(df, index=['company_name'], columns=['claim_status'], values=['amount'],
aggfunc= [np.sum, lambda x: x.count()],fill_value= 0,margins = True, margins_name= 'Total count')

table.columns = [' '.join(col).strip() for col in table.columns.values]

new_df = table.rename(columns={'sum amount Open':'C.Open', 'sum amount Pending':'C.Pending', 'sum amount Refunded':'C.Refunded',
'sum amount Settled':'C.Settled','sum amount Total count':'Total Amount', '<lambda> amount Open':'Events Open',
'<lambda> amount Pending':'Event Pendings', '<lambda> amount Refunded':'Event Refunded',
'<lambda> amount Settled':'Event Settle', '<lambda> amount Total count':'Total Events'})

new_df['C.Open']= new_df['C.Open'] + new_df['C.Pending'] 
df = new_df.drop('C.Pending', 1)

tabla1 = df[['C.Open','C.Refunded', 'C.Settled','Total Amount']]
tabla1

                                   C.Open  C.Refunded  C.Settled  Total Amount
company_name
Direction (Home) Law LLP        -61535.04        0.00       0.00     -61535.04
Emerald Law Solicitors           -6300.00        0.00       0.00      -6300.00
Heselwood & Grant Solicitors    -36392.69        0.00       0.00     -36392.69
High Street Solicitors          -91587.21        0.00    1025.69     -90561.52
Just Costs Solicitors Limited   -81335.69       36.83  -28580.78    -109879.64
Matwala Vyas LLP                 -2163.60        0.00       0.00      -2163.60
Milestone Claims Limited        -45639.60        0.00       0.00     -45639.60
Reynards Legal Limited               0.00        0.00       0.00          0.00
Simpson Sisson and Brooke       -68523.63        4.96       0.00     -68518.67
Simpson Sisson and Brooke (JC)   -5244.00        0.00       0.00      -5244.00
Wisemann Law T/A BEE Legal      -21208.46        0.00       0.00     -21208.46
Total count                    -419929.92       41.79  -27555.09    -447443.22

In [46]:
df2 = pd.read_csv("data_duolegal.csv")
df = df2[df2.columns[0:6]]

table = pd.pivot_table(df, index=['company_name'], columns=['claim_status'], values=['amount'],
aggfunc= [np.sum, lambda x: x.count()],fill_value= 0,margins = True, margins_name= 'Total count')

table.columns = [' '.join(col).strip() for col in table.columns.values]

new_df = table.rename(columns={'sum amount Open':'C.Open', 'sum amount Pending':'C.Pending', 'sum amount Refunded':'C.Refunded',
'sum amount Settled':'C.Settled','sum amount Total count':'Total Amount', '<lambda> amount Open':'Events Open',
'<lambda> amount Pending':'Event Pendings', '<lambda> amount Refunded':'Event Refunded',
'<lambda> amount Settled':'Event Settle', '<lambda> amount Total count':'Total Events'})

new_df['C.Open']= new_df['C.Open'] + new_df['C.Pending'] 
df = new_df.drop('C.Pending', 1)
df

tabla1 = df[['C.Open','C.Refunded', 'C.Settled']]
tabla2 = df[['Events Open','Event Pendings','Event Refunded','Event Settle','Total Events']]
tabla1[:-1]
tabla2

,Events Open,Event Pendings,Event Refunded,Event Settle,Total Events
company_name,,,,,
Direction (Home) Law LLP,46,0,0,0,46.0
Emerald Law Solicitors,2,1,0,0,3.0
Heselwood & Grant Solicitors,39,0,0,0,39.0
High Street Solicitors,73,0,0,18,91.0
Just Costs Solicitors Limited,114,0,10,57,181.0
Matwala Vyas LLP,2,0,0,0,2.0
Milestone Claims Limited,32,0,0,0,32.0
Reynards Legal Limited,0,0,0,1,1.0
Simpson Sisson and Brooke,80,0,9,0,89.0
Simpson Sisson and Brooke (JC),4,0,0,0,4.0
Wisemann Law T/A BEE Legal,13,0,0,0,13.0
Total count,405,1,19,76,501.0

In [45]:
df

,C.Open,C.Refunded,C.Settled,Total Amount,Events Open,Event Pendings,Event Refunded,Event Settle,Total Events
company_name,,,,,,,,,
Direction (Home) Law LLP,-61535.04,0.00,0.00,-61535.04,46,0,0,0,46.0
Emerald Law Solicitors,-6300.00,0.00,0.00,-6300.00,2,1,0,0,3.0
Heselwood & Grant Solicitors,-36392.69,0.00,0.00,-36392.69,39,0,0,0,39.0
High Street Solicitors,-91587.21,0.00,1025.69,-90561.52,73,0,0,18,91.0
Just Costs Solicitors Limited,-81335.69,36.83,-28580.78,-109879.64,114,0,10,57,181.0
Matwala Vyas LLP,-2163.60,0.00,0.00,-2163.60,2,0,0,0,2.0
Milestone Claims Limited,-45639.60,0.00,0.00,-45639.60,32,0,0,0,32.0
Reynards Legal Limited,0.00,0.00,0.00,0.00,0,0,0,1,1.0
Simpson Sisson and Brooke,-68523.63,4.96,0.00,-68518.67,80,0,9,0,89.0
Simpson Sisson and Brooke (JC),-5244.00,0.00,0.00,-5244.00,4,0,0,0,4.0
Wisemann Law T/A BEE Legal,-21208.46,0.00,0.00,-21208.46,13,0,0,0,13.0
Total count,-419929.92,41.79,-27555.09,-447443.22,405,1,19,76,501.0

In [48]:
tabla1

                                   C.Open  C.Refunded  C.Settled
company_name
Direction (Home) Law LLP        -61535.04        0.00       0.00
Emerald Law Solicitors           -6300.00        0.00       0.00
Heselwood & Grant Solicitors    -36392.69        0.00       0.00
High Street Solicitors          -91587.21        0.00    1025.69
Just Costs Solicitors Limited   -81335.69       36.83  -28580.78
Matwala Vyas LLP                 -2163.60        0.00       0.00
Milestone Claims Limited        -45639.60        0.00       0.00
Reynards Legal Limited               0.00        0.00       0.00
Simpson Sisson and Brooke       -68523.63        4.96       0.00
Simpson Sisson and Brooke (JC)   -5244.00        0.00       0.00
Wisemann Law T/A BEE Legal      -21208.46        0.00       0.00
Total count                    -419929.92       41.79  -27555.09

In [198]:
tabla1.columns

Index(['C.Open', 'C.Refunded', 'C.Settled'], dtype='object')

In [189]:
dict = tabla1[-1:].to_dict('list')
dict

{'C.Open': {'Total count': -419929.9199999998},
 'C.Refunded': {'Total count': 41.78999999999951},
 'C.Settled': {'Total count': -27555.09000000001}}

In [164]:
claves = list(dict.keys())
datos = list(dict.values())
# = list(zip(claves, datos))
a = list(itertools.chain(*list(dict.values())))
print(claves, datos,a)

['C.Open', 'C.Refunded', 'C.Settled'] [[-419929.9199999998], [41.78999999999951], [-27555.09000000001]] [-419929.9199999998, 41.78999999999951, -27555.09000000001]

In [77]:
label = list(tabla1[-1:])
label

['C.Open', 'C.Refunded', 'C.Settled']

In [ ]:
dict

In [80]:
for n, total in enumerate(dict):
     print(total)

C.Open
C.Refunded
C.Settled